// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "font-awesome";

body {
  background-color: #E6EFFA;
}

.header {
  background-color: #0059C8;
  color: #FFFFFF;
  font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
  padding: .7rem;
}

footer {
  padding: 10px 0;
  margin: 10px 0 0 0;
  text-align: center;
  background-color: #FFFFFF;
}

@font-face {
  font-family: 'fude';
  src: font-url('fude.otf')
}

#loading {
  display: table;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  opacity: 0.8;
}

#loading .loadingMsg {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding-top: 140px;
  background: image-url("gif-load.gif") center center no-repeat;
}

.minus-mark {
  color: skyblue;
}

.minus-area {
  margin: 27px 0 0 0;
}

.plus-mark {
  color: skyblue;
  margin: 5px;
}

#plus-button {
  text-align: center;
}

// 使い方の説明など
#accordion dt {
  border-bottom: solid 1px white;
  background-color: #FFFFFF;
  cursor: pointer;
  padding: 8px;
  font-weight: bold;
}

#accordion dd {
  border: solid 1px #F3F3F3;
  margin: 0px;
  padding: 8px;
}
// 使い方の説明などここまで

// 画像確認ボタン
.square_btn {
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: skyblue;/*色*/
    // border: solid 1px #0f9ada;/*線色*/
    border-radius: 4px;
    // box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
    // text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}

.square_btn:active {/*押したとき*/
    border: solid 1px #03A9F4;
    box-shadow: none;
    text-shadow: none;
}
#conf-button {
  display: none;
  text-align: center;
  padding: 20px;
}
// 画像確認ボタンここまで

#example {
  padding: 20px;
}

#chart-container {
  text-align: center;
}

// formの縦の間隔が広すぎたので修正
.form-group {
  margin-bottom: 3px;
}

#account {
  padding: 5px;
}
