// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "font-awesome";

body {
  background-color: #E6EFFA;
}

.header {
  background-color: #0059C8;
  color: #FFFFFF;
  font-family: "Nico Moji";
  font-size: 25px;
  padding: 3px 10px;
}

footer {
  padding: 10px 0;
  margin: 10px 0 0 0;
  text-align: center;
  background-color: #FFFFFF;
}

#myChart {
  margin: 10px 0 0 0;
}

@font-face {
  font-family: 'fude';
  src: font-url('fude.otf')
}

#loading {
  display: table;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  opacity: 0.8;
}

#loading .loadingMsg {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding-top: 140px;
  background: image-url("gif-load.gif") center center no-repeat;
}

.minus-mark {
  color: skyblue;
}

.minus-area {
  margin: 27px 0 0 0;
}

.plus-mark {
  color: skyblue;
  margin: 5px;
}

#plus-button {
  text-align: center;
}

// 使い方の説明など
#accordion dt {
  border-bottom: solid 2px #E6EFFA;
  background-color: #FFFFFF;
  cursor: pointer;
  padding: 8px;
  font-weight: bold;
}

#accordion dd {
  border: solid 1px #F3F3F3;
  margin: 0px;
  padding: 8px;
}
// 使い方の説明などここまで

// 画像確認ボタン
.square_btn {
  background-color: #0059C8;
  color: #FFFFFF;
  font-family: "Nico Moji";
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  font-size: 20px;
  border-radius: 8px;
}

#conf-button {
  display: none;
  text-align: center;
  padding: 20px;
}
// 画像確認ボタンここまで

#example {
  // padding: 10px;
  text-align: center;
}

#description {
  // padding: 10px;
  text-align: center;
}

#chart-container {
  text-align: center;
  height: 0;
}

// formの縦の間隔が広すぎたので修正
.form-group {
  margin-bottom: 3px;
}

#account {
  padding: 5px;
}

.modal_btn {
  color: #FFF;/*文字・アイコン色*/
  border-radius: 7px;/*角丸に*/
  display: inline-block;
  height: 50px;/*高さ*/
  width: 200px;/*幅*/
  text-align: center;/*中身を中央寄せ*/
  font-size: 18px;/*文字のサイズ*/
  line-height: 50px;/*高さと合わせる*/
  vertical-align: middle;/*垂直中央寄せ*/
  background: #1da1f3;
  overflow: hidden;/*はみ出た部分を隠す*/
  text-decoration:none;/*下線は消す*/
  text-shadow: 2px 2px 0px #4287d6;
}

#recent-img {
  text-align: center;
  margin: 10px
}

.r-img {
  margin: 10px;
}

.under {
  background: linear-gradient(transparent 70%, #ff99ab 30%);
}

.change_year {
  background-color: red;
  color: #FFFFFF;
  font-family: "Nico Moji";
  font-size: 15px;
  padding: 1px 10px;
  text-align: center;
}

// 以下、year特有のもの

.header_year {
  background-color: red;
  color: #FFFFFF;
  font-family: "Nico Moji";
  font-size: 25px;
  padding: 3px 10px;
}

.change_day {
  background-color: #0059C8;
  color: #FFFFFF;
  font-family: "Nico Moji";
  font-size: 15px;
  padding: 1px 10px;
  text-align: center;
}

// 画像確認ボタン
.square_btn_year {
  background-color: red;
  color: #FFFFFF;
  font-family: "Nico Moji";
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  font-size: 20px;
  border-radius: 8px;
}

// 以下、ひょうか固有のもの

.header_radar {
  background-color: green;
  color: #FFFFFF;
  font-family: "Nico Moji";
  font-size: 25px;
  padding: 3px 10px;
}

// 画像確認ボタン
.square_btn_radar {
  background-color: green;
  color: #FFFFFF;
  font-family: "Nico Moji";
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  font-size: 20px;
  border-radius: 8px;
}

// トグルボタン
// colors
$blue: #269bff;
$bg-light: #f2f2f2;
$bg-med: #eee;

// the magic
div.checkbox.switcher, div.radio.switcher {
  label {padding: 0;
    * {vertical-align: middle;}
    input {display: none;
      &+span {position: relative; display: inline-block; margin-right: 10px; width: 56px; height: 28px; background: $bg-light; border: 1px solid $bg-med; border-radius: 50px; transition: all 0.3s ease-in-out;
        small {position: absolute; display: block; width: 50%; height: 100%; background: #fff; border-radius: 50%; transition: all 0.3s ease-in-out; left: 0;}
      }
      &:checked+span {background: $blue; border-color: $blue;
        small {left: 50%;}
      }
    }
  }
}

.checkbox {
  text-align: center;
  display: none;
  margin: 20px 0 -15px 0;
}
// トグルボタンここまで
